<div class=<h2><%= @image.title %></h2>
<div class=".width-100 centered">
   <%= image_tag @image.url %>
</div>
<div class="third">
   <%= link_to "Edit", edit_image_path(@image) %>
   <%= link_to "Delete", @image, :method => :delete, :confirm => "You're about to delete this image. Are you sure?" %>
</div>
<h3> <%= @image.author %> </h3>