<!DOCTYPE html>
<html>
<head>
  <title>Photostream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="nav-h">
      <ul>
         <li><a href=<%=images_path%>><i class="icon-th-list icon-4x"></i></a></li>
         <li><a href=<%=new_image_path%>><i class="icon-plus icon-4x"></i></a></li>
      </ul>
   </div>

   <div class = "container">

      <%= yield %>

  </div>
</body>
</html>
